<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Визитка</title>
    <style>
        @import url('/static/css/main.css')
    </style>
</head>
<body onload="resizeBlock('math', '74'); resizeBlock('lang', '72'); resizeBlock('phis', '76'); resizeBlock('inf', '83');">
    <script src="./static/js/main.js"></script>

    <div class="cap z-20">
            <img src="./static/images/logotip.png" class="header_icon">
        </div>

    <section class="header">
        <div class="HELLO">
                Привет, меня зовут Артур
                <br>
                И я программист!
        </div>
    </section>

    <section class="about_me">
        <div>

        </div>
        <div class="skills">

        </div>
    </section>

    <section class="results">

        <div class="words">
            Результаты ЕГЭ:
        </div>

        <div class="lessons">
            <div class="lesson">Математика</div>
            <div class="score box-shadow" id="math" >
                74
                <div class="circle_img"><img src="static/images/math.png" class="icon"></div>
            </div>
        </div>

        <div class="lessons">
            <div class="lesson">Русский Язык</div>
            <div class="score box-shadow" id="lang">
                72
                <div class="circle_img"><img src="static/images/language.png" class="icon"></div>
            </div>

        </div>

        <div class="lessons">
            <div class="lesson">Физика</div>
            <div class="score box-shadow" id="phis">
                76
                <div class="circle_img"><img src="static/images/phisic.png" class="icon"></div>
            </div>

        </div>

        <div class="lessons">
            <div class="lesson">Информатика</div>
            <div class="score box-shadow" id="inf">
                83
                <div class="circle_img"><img src="static/images/informatika.jpeg" class="icon"></div>
            </div>

        </div>

    </section>

    <section class="Yandex_lyceum">
        <div>
            Я прошел курсы Лицея Академии Яндекса
        </div>

        <button class='Yandex_button scalable return box-shadow pointer' onclick="redirect('пром');">
            <div class="type_of_training">
                Основы Промышленного программирования
            </div>
        </button>

        <button class='Yandex_button scalable return box-shadow pointer' onclick="redirect('основы');">
            <img src="./static/images/яндекс.jpeg" class="yaicon">
            <div class="type_of_training">
                Основы программирования на языке Python |
            </div>
        </button>
    </section>

    <section class="movements">
        <div>
            Я был волонтером движений
        </div>
        <div class="movement box-shadow">
            <center>
                <img src="static/images/ФОРПОСТ.jpg" class="movement_icon">
            </center>
            <div class="movement_name">
                ФОРПОСТ
            </div>
        </div>

        <div class="movement box-shadow">
            <center>
                <img src="static/images/Юнармия.png" class="movement_icon">
            </center>
            <div class="movement_name">
                Юнармия
            </div>
        </div>
    </section>

    <footer>
        <div class="social">
            Связаться со мной
            <br>
            <a href="mailto:arturpimenov979@gmail.com"><img class="footer_icons scalable return" src="../static/images/gmail_icon.png"></a>
            <img class="footer_icons scalable return pointer" src="../static/images/tg_icon.png" onclick="redirect('tg')">
            <img class="footer_icons scalable return pointer" src="../static/images/wa_icon.png" onclick="redirect('wa')">
        </div>

        <div class="repository">
            Гитхаб
            <br>
            <img class="footer_icons scalable return pointer" src="../static/images/git_icon.png" onclick="redirect('git')">
        </div>

        <div id="rights">
            Все права защищены &copy;
            <script language="javascript" type="text/javascript"><!--
                var d = new Date();
                document.write(d.getFullYear());
            </script>
        </div>
    </footer>
</body>
</html>