<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Визитка</title>
    <style>
        @import url('/static/css/main.css')
    </style>
</head>
<body>
    <script src="./static/js/main.js"></script>
    <section>
        <div class="cap">
            <img>
        </div>

        <div class="HELLO">
                Привет, меня зовут Артур и я программист!
        </div>
    </section>
    <section class="results">

        <div class="words">
            Результаты ЕГЭ:
        </div>

        <div class="lessons">
            <div class="lesson">Математика</div>
            <div class="score box-shadow" id="math">
                100
                <div class="circle_img"><img src="static/images/math.png" class="icon"></div>
            </div>
        </div>
        <style>
            #growing {
              transition-property: height;
              transition-duration: 3s;
            }
        </style>

        <script>
            growing.onclick = function() {
              this.style.height = ;
              this.style.color = 'red';
            };
        </script>

        <div class="lessons">
            <div class="lesson">Русский Язык</div>
            <div class="score box-shadow" id="lang">
                100
                <div class="circle_img"><img src="static/images/language.png" class="icon"></div>
            </div>

        </div>

        <div class="lessons">
            <div class="lesson">Физика</div>
            <div class="score box-shadow" id="phis">
                100
                <div class="circle_img"><img src="static/images/phisic.png" class="icon"></div>
            </div>

        </div>

        <div class="lessons">
            <div class="lesson">Информатика</div>
            <div class="score box-shadow" id="inf">
                100
                <div class="circle_img"><img src="static/images/informatika.jpeg" class="icon"></div>
            </div>

        </div>

    </section>

    <section class="Yandex_lyceum">
        <div>
            Я прошел курсы Лицея Академии Яндекса
        </div>

        <button class='Yandex_button scalable return box-shadow pointer' onclick="redirect('пром');">
            <img src="./static/images/яндекс.jpeg" class="yaicon">
            Основы Промышленного программирования
        </button>

        <button class='Yandex_button scalable return box-shadow pointer' onclick="redirect('основы');">
            <img src="./static/images/яндекс.jpeg" class="yaicon">
            Основы программирования на языке Python
        </button>
    </section>

    <section class="movements">
        <div>
            Я был волонтером движений
        </div>
        <div class="movement box-shadow">
            <img src="static/images/ФОРПОСТ.jpg" class="movement_icon">
            <div class="movement_name">
                ФОРПОСТ
            </div>
        </div>

        <div class="movement box-shadow">
            <img src="static/images/Юнармия.png" class="movement_icon">
            <div class="movement_name">
                Юнармия
            </div>
        </div>
    </section>

    <footer>
        <div class="social">
            Связаться со мной
            <br>
            <a href="mailto:arturpimenov979@gmail.com"><img class="footer_icons scalable return" src="../static/images/gmail_icon.png"></a>
            <img class="footer_icons scalable return pointer" src="../static/images/tg_icon.png" onclick="redirect('tg')">
            <img class="footer_icons scalable return pointer" src="../static/images/wa_icon.png" onclick="redirect('wa')">
        </div>

        <div class="repository">
            Гитхаб
            <br>
            <img class="footer_icons scalable return pointer" src="../static/images/git_icon.png" onclick="redirect('git')">
        </div>

        <div id="rights">
            Все права защищены &copy;
            <script language="javascript" type="text/javascript"><!--
                var d = new Date();
                document.write(d.getFullYear());
            </script>
        </div>
    </footer>
</body>
</html>